* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img {
    width: 50px;
}

.navbar-dark,
.bg-dark {
    background-color: #1A1A1A !important;
}

.create-element input {
    border-radius: 100vw;
    border-color: black !important;
    padding: 10px;
}