* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

nav img {
    width: 50px;
}

.navbar-dark,
.bg-dark {
    background-color: #1A1A1A !important;
}

.create-element input {
    border-radius: 100vw;
    border-color: black !important;
    padding: 10px;
}

.form-select {
    width: 30%;
}

.form-control {
    width: 60%;
}

footer {
    margin-top: 150px;
}