* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav img {
    width: 50px;
}

.navbar-dark,
.bg-dark {
    background-color: #1A1A1A !important;
}

.hero {
    background-color: #F77F6C;
}


.overflow-title {
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.overflow-desc {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cover {
    object-fit: contain;
    object-position: center;
    width: 300px;
    height: 250px;
}